<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

{% extends 'base.html' %}


{% block subheading4 %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>




    <div style="border: 8px solid;;"> 
    
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<table> <tr> 
<td> <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-450" height="400" src="/static/images (9).jpg"  alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>My Caption Title (1st Image)</h5>
                <p>The whole caption will only show up if the screen is at least medium size.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-450" height="400" src="/static/download (21).jpg"  alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-450" height="400" src="/static/download (20) f19.jpg"  alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="/static/download (1)2.jpg" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</td>
</div>
<td>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-450" height="400" src="/static/download (22).jpg"  alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>My Caption Title (1st Image)</h5>
                    <p>The whole caption will only show up if the screen is at least medium size.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-450" height="400" src="/static/images (10).jpg"  alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-450" height="400" src="/static/images (9).jpg"  alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="/static/download (1)2.jpg" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>  
</td>
 
  

</div>

</table>
<table> 
    <tr> 
<td> <h1> NETWORK	Technology	 </h1> </td>
<td> <li> GSM / HSPA / LTE </li ></td> 
 <td><li>LAUNCH	Announced	2020, January 16</li>   </td>
 <td><li>Status	Available. Released 2020, January</li>   </td>
 <td><li>BODY	Dimensions	160.2 x 73.3 x 7.9 mm (6.31 x 2.89 x 0.31 in)</li>   </td>
 <td><li>Weight	172 g (6.07 oz)</li>   </td>
 <td><li>Build	Glass front (Gorilla Glass 5), plastic back, plastic frame</li>   </td>
 <td><li>SIM	Dual SIM (Nano-SIM, dual stand-by)</li>   </td>
 <td><li>DISPLAY	Type	AMOLED, 430 nits (typ)</li>   </td>
 <td><li>Size	6.4 inches, 100.4 cm2 (~85.5% screen-to-body ratio)</li>  </td>
 <td><li>Resolution	1080 x 2400 pixels, 20:9 ratio (~408 ppi density)</li>   </td>
 <td><li>protection	Corning Gorilla Glass 5</li>  </td>
 <td><li>PLATFORM	OS	Android 9.0 (Pie), upgradable to Android 11, ColorOS 11.1</li>  </td>
 <td><li>Chipset	Mediatek MT6771V Helio P70 (12nm)</li>   </td>
 <td><li>	Octa-core (4x2.1 GHz Cortex-A73 & 4x2.0 GHz Cortex-A53)</li>  </td>

 <td><li>GPU	Mali-G72 MP3</li> </td>
 </tr>

<tr> 
<td> <li> <h4> MEMORY	Card slot	microSDXC (dedicated slot)</li> </h4>  </td>
<td><li>Internal	128GB 4GB RAM, 128GB 8GB RAM</li></td>
<td> <li> 	UFS 2.1</li> </td>
<td> <li>MAIN CAMERA	Quad	48 MP, f/1.8, 26mm (wide), 1/2.0", 0.8µm, PDAF</li> </td>
<td> <li>8 MP, f/2.3, 13mm (ultrawide), 1/4.0", 1.12µm</li>  </td>
<td> <li>2 MP B/W, f/2.4, 1/5.0", 1.75µm</li>  </td>
<td> <li>2 MP, f/2.4, (depth)</li>  </td>
<td> <li>>Features	LED flash, HDR, panorama</li> </td>
<td> <li>Video	1080p@30fps, gyro-EIS</li>  </td>

</ul>
</tr>
</table>

<center> 
    {{user}}
    <br>
    
    <input type="radio" name="pay on delivery"> pay on delivery
  
<img src="/static/cash on delivery.jpg" width="200">
<form method="post">
    {% csrf_token %}

{{open}}

{{error1}}

   <input type="submit" value="add"> 
   <a href="cart"> <img src="/static/download (19).jpg" width="130"> </a>
   <br>
   <br>
  </center>
<div style="border: 9px solid;"> 
</div>
</form>
<center> 
<h3> For other transactions</h3>
<select name="card" name="name">
<option value="card"> -->Select card type--> </option>
<option value="debit card"> Debit card </option>
<option value="credit card"> credit card</option>
<option value="master card"> Master card</option>
<option value="visa"> Visa </option> </td>


</select>


    <img src="/static/download (10).jpg" width="130">
    Enter date:- <input type="datetime" name="date">
</center>
<center>
    Exp date:- <input type="date" name="date">

</center>
<center>
    <a href="/register/no"> Submit </a>
</center>

<center>
    <h3> digital transactions </h3>
<a href="https://www.netbanking.com"> Netbanking</a>
<br>
<a href="https://www.paypal.com"> paypal </a>
<br>
<a href="https://www.googlepay"> google pay</a>
<br>
<a href="https://www.phonepay"> phone pay</a>
</center>
<br>
<br>
<br>
<br>
<br>
<center> 

    
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>





{% endblock subheading4 %}